# Copy this file to .env and fill in your keys
# DO NOT commit .env to version control

# Market Data API
MARKET_DATA_API_KEY=your_key_here

# News / Sentiment API
SENTIMENT_API_KEY=your_key_here

# LLM API (if using AI agents)
OPENAI_API_KEY=your_key_here
ANTHROPIC_API_KEY=your_key_here

# Alpaca API
ALPACA_API_KEY = PKSYTUKYEQERRXFYHA3GZNULJB
ALPACA_SECRET_KEY = 2oKYpPV6XJB7HuPFtGmCy1rfr7bSPaNWa7YKuLBrayYv
