# Anthropic API Key (required)
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Alpaca Paper Trading (Person C)
ALPACA_API_KEY=PKxxxxx
ALPACA_API_SECRET=xxxxx

# NewsAPI (Person B)
NEWS_API_KEY=95aaa988c4d044a7a4ecd1e613f1d504
